<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050500598872-prrs2ipa36u34i57kiovh8d7tu1nn3cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050500598872-prrs2ipa36u34i57kiovh8d7tu1nn3cd</string>
	<key>API_KEY</key>
	<string>AIzaSyCfCsbM4LO_SsZZo0aQtFls5Ah4O6Hu38Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1050500598872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-8155c</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-8155c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050500598872:ios:45dd63370c947ebf1f0e2d</string>
</dict>
</plist>